@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo body */
body {
  background-color: black;
}

/* Estilo de barra navegacion */
.nav {
  width: 100%;
  height: 300%;
  background-image: url(../multimedia/fondo-nav.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoEmpresa img {
  width: 200px;
  height: 90px;
  margin-left: 130px;
}

.menu {
  align-self: flex-end;
}
.menu ul {
  display: inline-flex;
  list-style: none;
}
.menu li a {
  margin: 50px;
  margin-left: 10px;
  text-decoration: none;
  color: white;
}
.menu li :hover {
  background-color: white;
  color: black;
  border-bottom: 2px;
  font-size: large;
  font-weight: bold;
}

.redes {
  margin-right: 160px;
}
.redes a {
  display: flex;
  flex-wrap: nowrap;
}
.redes img {
  width: 30px;
  height: 30px;
}

.fixed {
  position: fixed;
  display: inline-block;
}

.marcasLogo {
  display: flex;
}

.links {
  align-self: center;
}

/* estilo Footer */
footer {
  width: 99%;
  margin: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
}
footer h6 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.logoFooter img {
  width: 90px;
  height: 90px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Estilo index*/
.responsiveActivo {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(black, grey);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 2.3fr 1.7fr 1fr;
  gap: 5px;
  grid-auto-flow: row;
  grid-template-areas: "header header header" "carousel carousel carousel" "cuerpo cuerpo cuerpo" "footerPagina1 footerPagina1 footerPagina1";
}

.header {
  grid-area: header;
}

.navPagina1 {
  grid-area: navPagina1;
  width: 99%;
  height: 120%;
  background-image: url(../multimedia/fondo-nav.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerPagina1 {
  grid-area: footerPagina1;
  width: 99%;
  height: 160px;
  margin: 1%;
  margin-bottom: 1%;
  margin-top: 15%;
  display: flex;
  justify-content: space-around;
}

.cuerpoIndex {
  width: 60vw;
  height: 130vh;
}
.cuerpoIndex h1 {
  text-align: center;
  color: whitesmoke;
  margin-bottom: 5%;
  margin-top: 10%;
}

.carousel {
  grid-area: carousel;
  width: 110%;
  height: 25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 5rem;
  margin-right: 12%;
  align-self: center;
}

.cuerpo {
  grid-area: cuerpo;
  width: 15%;
  margin-top: 5rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
}
.cuerpo img {
  width: 300%;
  height: 300%;
  background-color: transparent;
  margin-right: 70%;
}

h3 {
  width: 99%;
  margin-top: 5rem;
  text-align: center;
  color: whitesmoke;
}

.marcasLogo {
  margin-left: 3rem;
  margin-right: 3rem;
  height: 50%;
  transition: height 2s;
}

.marcasLogo :hover {
  transform: skewY(25deg);
}

.pilares h3 {
  text-align: center;
  color: white;
}

.logitos {
  display: flex;
  gap: 15%;
  padding: 10%;
}
.logitos img {
  height: 80%;
  width: 100%;
  margin-top: 10%;
  border-style: ridge;
  border-radius: 100%;
  border-color: black;
}

/* estilo pagina 2 */
.responsivePag2 {
  background-image: linear-gradient(black, grey);
}

.parrafoPag2 {
  height: 100rem;
  background-image: url(../multimedia/domótica-casa-inteligente.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 5%;
}
.parrafoPag2 p {
  font-weight: bold;
  font-size: large;
  width: 80%;
  margin-left: 140px;
  margin-right: 60px;
  margin-top: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  padding-right: 2%;
  background-image: radial-gradient(circle, grey, black);
  color: white;
  line-height: 1.7;
}
.parrafoPag2 h1 {
  text-align: center;
  color: black solid;
}
.parrafoPag2 h2 {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* estilo pagina 3 */
.responsivePag3 {
  background-image: linear-gradient(black, grey);
}

.cuerpo3 {
  grid-area: cuerpo;
  width: 99%;
  margin-top: 5rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cuerpo3 h1 {
  color: white;
  margin-top: 5rem;
}
.cuerpo3 h2 {
  color: white;
  margin-bottom: 10rem;
}

.serviciosCard1 {
  display: flex;
  width: 60rem;
  height: 40rem;
  padding: 25px;
  margin-top: 50px;
}
.serviciosCard1 h5 {
  text-align: center;
  margin-top: 5rem;
}
.serviciosCard1 img {
  align-self: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
  height: 10rem;
  width: 15rem;
}

.serviciosCard2 {
  display: flex;
  width: 60rem;
  height: 40rem;
  padding: 25px;
  margin-bottom: 100px;
}
.serviciosCard2 h5 {
  text-align: center;
  margin-top: 5rem;
}
.serviciosCard2 img {
  align-self: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 15px;
  height: 10rem;
  width: 15rem;
}

.card {
  background-image: linear-gradient(white, black);
  border: 1px, black, solid;
  margin-left: 1rem;
  height: 30rem;
}
.card ul li {
  background-image: linear-gradient(white, black);
}

.card h5:hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.41);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.41);
  color: white;
}

.serviciosCard1 img:hover {
  opacity: 0.5;
  border: 5px, black, solid;
}

.serviciosCard2 img:hover {
  opacity: 0.5;
  border: 5px, black, solid;
}

.card li:hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.41);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.41);
  color: blue;
}

/* estilo pagina 4 */
.container-grid {
  width: 100vw;
  height: 100vw;
  background-image: linear-gradient(black, grey);
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 0.5fr 2.3fr 1.7fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nav nav nav" "fotoProyecto tablaProyecto . " "yotube1 youtube2 ." "footerProyecto footerProyecto .";
}

.nav {
  grid-area: nav;
}

.fotoProyecto {
  grid-area: fotoProyecto;
  margin-top: 20px;
}
.fotoProyecto h3 {
  text-align: center;
  color: white;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.fotoProyecto img {
  width: 90%;
  margin-left: 2rem;
}

.tablaProyecto {
  grid-area: tablaProyecto;
  height: 200px;
  margin-top: 20rem;
  margin-left: 20px;
  margin-right: 40px;
  border-style: solid;
  border-color: black;
  text-align: center;
  font-weight: bold;
}
.tablaProyecto p {
  color: white;
  font-weight: lighter;
}
.tablaProyecto h5 {
  color: whitesmoke;
  font-weight: bold;
}
.tablaProyecto h6 {
  color: whitesmoke;
  font-weight: bold;
}

.yotube1 {
  grid-area: yotube1;
  margin-top: 20px;
  text-align: center;
  margin-top: 4rem;
}

.youtube2 {
  grid-area: youtube2;
  margin-top: 20px;
  text-align: center;
  margin-top: 4rem;
}

.footerProyecto {
  grid-area: footerProyecto;
}

.formulario {
  background-color: transparent;
  line-height: 2rem;
  margin-top: 80px;
}

.cuerpo h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* estilo pagina 5*/
.responsivePag5 {
  background-image: linear-gradient(black, grey);
}

.cuerpo5 {
  grid-area: cuerpo5;
  width: 99%;
  margin-top: 5rem;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cuerpo5 h2 {
  color: #585757;
}
.cuerpo5 h4 {
  color: #585757;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.linkFormulario {
  align-self: center;
  list-style: none;
}
.linkFormulario a {
  color: white;
  text-decoration: none;
}

.formularioDeContacto {
  margin-top: 5rem;
  width: 600px;
  background-image: radial-gradient(circle, grey, black);
  border: rgba(86, 186, 86, 0.76) solid 2px;
  padding: 80px;
  margin-bottom: 100px;
}

.form-label {
  color: wheat;
}

.form-check-label {
  color: wheat;
}

/* dependencias para MQ pagina 4 */
/* dependencias para MQ index */
@media screen and (max-width: 768px) {
  .responsiveActivo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2.3fr 3fr 1fr;
    grid-template-areas: "header header" "carousel carousel" "cuerpo cuerpo" "footerPagina1 footerPagina1";
    background: none;
    background-image: linear-gradient(rgba(72, 138, 72, 0.6705882353), white);
  }
}
@media screen and (max-width: 425px) {
  .responsiveActivo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 1.7fr 3fr 1fr;
    grid-template-areas: "header" "cuerpo" "cuerpo" "carousel" "footerPagina1";
    background: none;
    background-image: radial-gradient(circle, rgba(101, 130, 59, 0.5882352941), black);
  }
}
/* dependencias para MQ pagina 2 */
@media screen and (max-width: 768px) {
  .responsivePag2 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 1fr;
    grid-template-areas: "header2" "parrafoPag2" "footer";
    background: none;
    background-image: linear-gradient(rgba(72, 138, 72, 0.6705882353), white);
  }
}
@media screen and (max-width: 425px) {
  .responsivePag2 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 1fr;
    grid-template-areas: "header2" "parrafoPag2" "footer";
    background: none;
    background-image: radial-gradient(circle, rgba(101, 130, 59, 0.5882352941), black);
  }
}
/* dependencias para MQ pagina 3 */
@media screen and (max-width: 768px) {
  .responsivePag3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 3fr 1fr;
    grid-template-areas: "header3 header3" "cuerpo3 cuerpo3" "footerPag3 footerPag3";
    background: none;
    background-image: linear-gradient(rgba(72, 138, 72, 0.6705882353), white);
  }
}
@media screen and (max-width: 425px) {
  .responsivePag3 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 1fr;
    grid-template-areas: "header3 header3" "cuerpo3 cuerpo3" "footerPag3 footerPag3";
    background: none;
    background-image: radial-gradient(circle, rgba(101, 130, 59, 0.5882352941), black);
  }
}
/* dependencias para MQ pagina 4 */
@media screen and (max-width: 768px) {
  .container-grid {
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav" "fotoProyecto" "tablaProyecto" "yotube1" "youtube2" "footerProyecto ";
    background: none;
    background-image: linear-gradient(rgba(72, 138, 72, 0.6705882353), white);
  }
}
@media screen and (max-width: 425px) {
  .container-grid {
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "nav" "tablaProyecto" "fotoProyecto" "yotube1" "youtube2" "footerProyecto ";
    background: none;
    background-image: radial-gradient(circle, rgba(101, 130, 59, 0.5882352941), black);
  }
}
/* dependencias para MQ pagina 5 */
@media screen and (max-width: 768px) {
  .responsivePag5 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 3fr 1fr;
    grid-template-areas: "header5 header5" "cuerpo5 cuerpo5" "footerPag5 footerPag5";
    background: none;
    background-image: linear-gradient(rgba(72, 138, 72, 0.6705882353), white);
  }
}
@media screen and (max-width: 425px) {
  .responsivePag5 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 1fr;
    grid-template-areas: "header5 header5" "cuerpo5 cuerpo5" "footerPag5 footerPag5";
    background: none;
    background-image: radial-gradient(circle, rgba(101, 130, 59, 0.5882352941), black);
  }
}

/*# sourceMappingURL=estilo.css.map */
