$color-768: linear-gradient( #488a48ab,white);
$color-425: radial-gradient(circle, #65823b96 , black);
/* dependencias para MQ index */
@media screen and (max-width: 768px){
  .responsiveActivo{  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 0.5fr 3fr 1fr 2fr 2fr 1fr;
  grid-template-areas:
  "header header"
  "h1 h1"
  "carousel carousel"
  "h3 h3"
  "cuerpo cuerpo"
  "pilares pilares"
  "footerPagina1 footerPagina1";   
  background: none;
  background-image:$color-768;
}
}

@media screen and (max-width:425px){
  .responsiveActivo{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 3fr 1fr 2fr 2fr 1fr;
  grid-template-areas:
  "header"
  "h1"
  "carousel"
  "h3"
  "cuerpo"
  "pilares"
  "footerPagina1";
  background: none;
  background-image: $color-425;
}
}

/* dependencias para MQ pagina 2 */
@media screen and (max-width: 768px){
.responsivePag2{
grid-template-columns: 1fr;
grid-template-rows: 0.5fr 3fr 1fr;
grid-template-areas:
"header2"
"parrafoPag2"
"footer";
background: none;
background-image:$color-768;
}
}
@media screen and (max-width:425px){
  .responsivePag2{
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 1fr;
    grid-template-areas:
    "header2"
    "parrafoPag2"
    "footer";
    background: none;
    background-image: $color-425;
    }
}

/* dependencias para MQ pagina 3 */
@media screen and (max-width: 768px){
  .responsivePag3{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 3fr 1fr;
  grid-template-areas:
  "header3 header3"
  "cuerpo3 cuerpo3"
  "footerPag3 footerPag3";
  background: none;
  background-image:linear-gradient( #488a48ab,white)
  }
  }
  @media screen and (max-width:425px){
    .responsivePag3{
      grid-template-columns: 1fr ;
      grid-template-rows: 0.5fr 3fr 1fr;
      grid-template-areas:
      "header3 header3"
      "cuerpo3 cuerpo3"
      "footerPag3 footerPag3";
      background: none;
      background-image: radial-gradient(circle, #65823b96 , black);
      }
  }

/* dependencias para MQ pagina 4 */
@media screen and (max-width:768px){
    .container-grid {
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "nav"
    "fotoProyecto"
    "tablaProyecto"
    "yotube1"
    "youtube2"
    "footerProyecto ";
    background: none;
    background-image:linear-gradient( #488a48ab,white)
}
}
  @media screen and (max-width:425px){
    .container-grid {
     grid-template-columns: 2fr;
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
     grid-template-areas:
     "nav"
     "tablaProyecto"
     "fotoProyecto"
     "yotube1"
     "youtube2"
     "footerProyecto ";
     background: none;
     background-image: radial-gradient(circle, #65823b96 , black);
}
}

/* dependencias para MQ pagina 5 */
@media screen and (max-width: 768px){
  .responsivePag5{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 3fr 1fr;
  grid-template-areas:
  "header5 header5"
  "cuerpo5 cuerpo5"
  "footerPag5 footerPag5";
  background: none;
  background-image:linear-gradient( #488a48ab,white)
  }
  }
  @media screen and (max-width:425px){
    .responsivePag5{
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 3fr 1fr;
      grid-template-areas:
      "header5 header5"
      "cuerpo5 cuerpo5"
      "footerPag5 footerPag5";
      background: none;
      background-image: radial-gradient(circle, #65823b96 , black);
      }
  }



