$color-fondo: linear-gradient(black, grey);
$color-gradiente-circular: radial-gradient(circle, grey, black);
.responsivePag2{
    background-image: $color-fondo;
}
.parrafoPag2{
    height: 100rem;
    background-image:url(../multimedia/domótica-casa-inteligente.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5%;
    margin-top: 10%;
    p{
    font-weight: bold;
    font-size: large;
    width: 80%;
    margin-left: 140px;
    margin-right: 60px;
    margin-top: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    background-image: $color-gradiente-circular;
    color: white;
    line-height: 1.7;
    }
    h1{
        text-align: center;
        color: black solid;
    }
    h2{
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}
